Package: scanoss
Version: ENGINE_VERSION
Maintainer: SCANOSS <support@scanoss.com>
Architecture: amd64
Depends: libgcrypt20-dev (>= 1.9.0), libc6 (>= 2.4), zlib1g (>= 1:1.1.4)
Description: SCANOSS Engine
  SCANOSS is an open, configurable OSS engine that was built specifically for developers, empowering them to confidently produce compliant code from the moment they begin writing, while delivering greater license and usage visibility for the broader DevOps team and supply chain partners.
License: GPL-2+
